<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#222831"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <title>Pergimakan</title>
    <meta name="description" content="Temukan makanan & minuman terbaik di kota Anda">
    <link
        rel="preload"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
        as="style"
        onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
            rel="stylesheet"
            type="text/css"
        />
    </noscript>
</head>
<body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>

    <div class="hamburger-button">
        <button type="button" id="menu-button" aria-label="menu button">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

<nav id="top-menu-drawer" class="top-menu active">
    	
    <div class="components">
    
        <div class="logo">
            <a href="index.html">Pergimakan</a>
        </div>
        
        <ul class="navigation">
            <li><a href="#/home">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="https://github.com/biyanoscar">About Us</a></li>
        </ul>
    
    </div>

</nav>


<div class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Pergimakan</h1>
        <p class="hero__tagline">Temukan makanan & minuman terbaik di kota Anda</p>
    </div>
</div>
<main>
    <section class="content" id="main-content">
        
        <!-- <div class="latest">
            <h1 class="latest__label">Explore Restaurants</h1>
            <div id="restaurants" class="restaurants">
                

                

            </div>
        </div> -->
    </section>
</main>
<footer>
    <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/favorite">Favorite </a></li>
        <li><a href="https://github.com/biyanoscar">About Us </a></li>
    </ul>
    <div class="footer-text">Copyright © 2021 - Pergimakan Apps</div>
</footer>



<script type='text/javascript'>
    //<![CDATA[ 
    function loadCSS(e, t, n) {
        "use strict";
        var i = window.document.createElement("link");
        var o = t || window.document.getElementsByTagName("script")[0];
        i.rel = "stylesheet";
        i.href = e;
        i.media = "only x";
        o.parentNode.insertBefore(i, o);
        setTimeout(function() {
            i.media = n || "all"
        })
    }
    loadCSS("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
    //]]> 
</Script>
</body>
</html>
