<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pergimakan</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
<header class="header">
    <div class="header__inner">
        <h1 class="header__title">
            Pergimakan
        </h1>
    </div>
    <a id="menu" class="header__menu">☰</a>
</header>

<nav id="drawer" class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item "><a href="#">Favorite </a></li>
        <li class="nav__item"><a href="https://github.com/biyanoscar">About Us </a></li>
    </ul>
</nav>

<div class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Pergimakan</h1>
        <p class="hero__tagline">Temukan makanan & minuman terbaik di kota Anda</p>
    </div>
</div>
<main>
    <section class="content">
        
        <div class="latest">
            <h1 class="latest__label">Explore Restaurants</h1>
            <div id="restaurants" class="restaurants">
                

                

            </div>
        </div>
    </section>
</main>
<footer>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite </a></li>
        <li><a href="https://github.com/biyanoscar">About Us </a></li>
    </ul>
    <div class="footer-text">Copyright © 2020 - Hunger Apps</div>
</footer>
</body>
</html>
