<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pergimakan</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
<!-- <header class="header">
    <div class="header__inner">
        <h1 class="header__title">
            Pergimakan
        </h1>
    </div>
    <a id="menu" class="header__menu">☰</a>
</header>

<nav id="drawer" class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item "><a href="#">Favorite </a></li>
        <li class="nav__item"><a href="https://github.com/biyanoscar">About Us </a></li>
    </ul>
</nav> -->

<nav class="top-menu active">
    	
    <div class="components">
    
        <div class="logo">
            <a href="index.html">Pergimakan</a>
        </div>
        
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://github.com/biyanoscar">About Us</a></li>
        </ul>
    
    </div>

</nav>
<div class="hamburger-button">
    <button type="button" id="menu-button">
        <span></span>
        <span></span>
        <span></span>
    </button>
</div>

<div class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Pergimakan</h1>
        <p class="hero__tagline">Temukan makanan & minuman terbaik di kota Anda</p>
    </div>
</div>
<main>
    <section class="content">
        
        <div class="latest">
            <h1 class="latest__label">Explore Restaurants</h1>
            <div id="restaurants" class="restaurants">
                <!-- <article class="restaurant-item">
                    <div class="list-card-image">
                        <div class="rating position-absolute">
                            <span class="badge badge-rating">Rating: 3.6 </span>
                        </div>
                        <div class="member-plan position-absolute">
                            <span class="badge badge-city">Surabaya</span>
                        </div>

                        <img class="restaurant-item__thumbnail"
                        src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/32"
                        alt="Saya Suka">
                    </div>
                    
                    <div class="restaurant-item__content">
                        
                        <h1 class="restaurant-item__title">Saya Suka</h1>
                        <p class="restaurant-item__description text">But I must explain to you how all this mistaken idea of denouncing pleasure</p>
                        <p class="restaurant-item__footer">Surabaya</p>
                    </div>
                </article> -->
                

                

            </div>
        </div>
    </section>
</main>
<footer>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite </a></li>
        <li><a href="https://github.com/biyanoscar">About Us </a></li>
    </ul>
    <div class="footer-text">Copyright © 2020 - Hunger Apps</div>
</footer>
</body>
</html>
