* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #424242;
}

/*
 * Header
 *
 */

.header {
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  font-weight: 300;
  font-size: 4em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}

.header__menu {
  font-size: 32px;
  margin: 10px auto;
  display: block;
  width: 30px;
}

/*
 * Top level navigation
 */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.nav a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #000;
}

/*
 * Jumbotron
 */

.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/heros/hero-image_2.jpg");
  /* background-image: url("/images/heros/hero-image_2.jpg"); */
  background-position: center;
  background-color: green;
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero__title {
  color: #fff;
  font-weight: 500;
  font-size: 36px;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}

/*
 * main
 */

main {
  width: 100%;
  margin: 0 auto;
}

/*
 * content
 */

.content {
  padding: 32px;
}

/*
 * latest
 */

.latest {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.latest__label {
  font-size: 32px;
  font-weight: lighter;
}

.latest__label::after {
  content: "";
  margin-top: 16px;
  display: block;
  border-bottom: 1px solid #eeeeee;
}

/*
 * restaurant
 */

.restaurants {
  margin: 32px auto auto;
  text-align: left;
}

/*
 * restaurant item
 */

.restaurant-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.restaurant-item__content {
  padding: 16px;
}

.restaurant-item__thumbnail {
  width: 100%;
  height: 130px;
  vertical-align: middle;
  object-fit: cover;
}

.restaurant-item__date {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
}

.restaurant-item__date__author {
  color: red;
  text-decoration: none;
}

.restaurant-item__title {
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s opacity;
}

.restaurant-item__title a {
  text-decoration: none;
  color: inherit;
}

.restaurant-item__description {
  margin-top: 16px;
  font-size: 12px;
  line-height: 1.5em;
}

.restaurant-item__footer {
  margin-top: 16px;
  color: #00adb5;
}

/*
 * footer
 */

footer {
  background-color: #222831;
  padding: 2em;
  width: 100%;
  text-align: center;
  color: #fff;
}

footer ul {
  margin: 0 auto;
  display: inline-block;
}

footer li {
  display: inline-block;
  margin: 0 1em;
  font-size: 14px;
}

footer a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: #fff;
}

.footer-text {
  margin-top: 18px;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* Skip to Content link */
.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:active,
.skip-link:focus,
.skip-link:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
}

/* badge */
.restaurant-item .list-card-image {
  position: relative;
  z-index: -1;
}

.restaurant-item .rating {
  right: 12px;
  bottom: 12px;
}

.position-absolute {
  position: absolute !important;
}

.badge {
  font-size: 0.8em;
  padding: 5px 5px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  font-weight: 700;
}

.badge-rating {
  color: #fff;
  background-color: #00adb5;
  font-size: 1em;
}

.badge-city {
  color: #fff;
  background-color: #393e46;
}

.restaurant-item .member-plan {
  left: 8px;
  top: 8px;
}

/*
    Restaurant
  */

.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.restaurant .restaurant__poster {
  width: 100%;
}

.restaurant .restaurant__info h4 {
  margin: 8px 0;
}

.text-title {
  color: #00adb5;
}

.review-member {
  padding-bottom: 1.5rem;
}

.review-date {
  font-size: 12px;
  line-height: 1.5em;
}

/*
   Like
*/
.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-element {
  width: 100%;
}

.btn-form {
  color: #fff;
  background-color: #00adb5;
  border-color: #00adb5;
  padding: 0.7rem;
  font-size: 1rem;
}
